<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yd.prj.notice.map.NoticeMapper">


	<select id="noticeSelectList" resultType="co.yd.prj.notice.vo.NoticeVO">
		SELECT * FROM NOTICE
	</select>
	
	<select id="noticeSelect"></select>
	
	<insert id="noticeInsert" parameterType="co.yd.prj.notice.vo.NoticeVO">
		insert into notice
		values(notice_seq.nextval, #{notice_writer}, #{notice_title}, #{notice_subject}, #{date}, 0, #{notice_attech}, #{notice_attechdir})
	</insert>
</mapper>